.img-in-article-list {
    width: 27rem;
    height: 24rem;
    border-radius: .2rem;
    object-fit: cover;
}

.article-detail-content__img {
    width: 100%;
    object-fit: cover;
    padding: 2.4rem 2.4rem 2.4rem 0;
}