:root {
  --primary-color: #007BFF;
  --secondary-color: #6C757D;
  --text-color: #212529;
  --border-color: #DFDFDF;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

a { 
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input, textarea {
  padding: .8rem 0 .8rem 1.6rem;
  color: var(--secondary-color);
  border: solid .1rem var(--border-color);
  border-radius: .4rem;
  resize: none;
  font-family: inherit;
}